.containerTitulo {
    color: blue;
    text-decoration: underline;
    text-align: center;
    font-display: block;
}

.containerTexto {
    color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}